<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tavi.tiki.niki.meetingsapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MeetingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MeetingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MeetingsActivity" />
        </activity>
        <activity
            android:name=".AddMeetingActivity"
            android:label="@string/title_activity_add_meeting"
            android:parentActivityName=".MeetingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MeetingsActivity" />
        </activity>
        <activity
            android:name=".FullMeetingActivity"
            android:label="@string/title_activity_full_meeting"
            android:parentActivityName=".MeetingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MeetingsActivity" />
        </activity>

        <service
            android:name=".MeetingService"
            android:enabled="true"
            android:label="MeetingService" />
        <receiver android:name=".MeetingsBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="backgroundLoad" />
            </intent-filter>

        </receiver>
    </application>

</manifest>
